<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cook.simpleservices">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.serviceConnection.ServiceConnectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.onStartCommand.MainActivity"></activity>

        <activity android:name=".ui.broadcastreceiver.MainBroadcastActivity"></activity>

        <activity android:name=".ui.localbinding.LocalBindingActivity"></activity>

        <!-- onStartCommand-->
        <service android:name=".service.onStartCommand.not_sticky.SimpleServiceNotSticky" />
        <service android:name=".service.onStartCommand.sticky.SimpleServiceSticky" />
        <service android:name=".service.onStartCommand.redeliver_intent.SimpleServiceRedeliverIntent" />

        <!-- BroadCastReceiver-->
        <service android:name=".service.broadcast.ServiceBroadcastExample" />

        <!-- ServiceConnection-->
        <service android:name=".service.serviceConnection.ServiceConnectionService" />

        <!-- Local Binding-->
        <service android:name=".service.localbinding.ServiceLocalBinding"/>

    </application>

</manifest>
